html,
pre {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  background-color: #ccc;
}

img {
  display: block;
  margin: auto;
}

.table {
  width: 100%;
  min-height: 600px;

  line-height: 1.5;
  letter-spacing: 0.05rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
  border: 1px solid;

  thead {
    background-color: #848383;
  }

  tr:nth-child(2n) {
    background-color: #ccc;
  }
}

#d-flex {
  display: flex;
}